<section id="about" class="about">
  <div class="container about-cotainer">
    <div class="pictures-box">
      <img
        class="phone-img"
        src="./img/phone@1x.png"
        srcset="./img/phone@1x.png 1x, ./img/phone@2x.png 2x"
        alt="Phone with the Jolly Match 3 game showing the level with blocks merging"
      />
      <svg class="about-char" width="64" height="64">
        <use href="./img/sprite.svg#char-clumsy"></use>
      </svg>
    </div>

    <div class="about-description">
      <h2 class="about-title">About the Game</h2>
      <p class="about-text">
        Look, we just wanted to make something that doesn't suck.
        <span class="list-featured-text">Jolly Match 3</span>
        focuses on energetic gameplay, fast progression, and visually satisfying
        puzzle mechanics.
      </p>
      <p class="about-text">
        Levels are designed to keep players constantly engaged with chain
        reactions, power-ups, and rewarding feedback after every move. The
        overall atmosphere should feel cheerful, light, and highly accessible.
      </p>

      <ul class="about-descr-list">
        <li class="about-desc-list-item">
          <h3 class="about-list-title">500+</h3>
          <p class="about-list-text">LEVELS</p>
        </li>
        <li class="about-desc-list-item">
          <h3 class="about-list-title">12</h3>
          <p class="about-list-text">WORLDS</p>
        </li>
        <li class="about-desc-list-item">
          <h3 class="about-list-title">5</h3>
          <p class="about-list-text">BOOSTERS</p>
        </li>
      </ul>
    </div>
  </div>
</section>
