<section class="contact" id="contact">
  <div class="container">
    <h2 class="contact-title">Ready for the
      next <span class="combo">combo?</span></h2>
    <h3 class="contact-sub-title">Drop us a line — we read everything.</h3>
    <a class="email-container" href="mailto:kidprivacy@coremeadow.site">
      <svg class="email-svg" width="12" height="12">
        <use href="./img/sprite.svg#icon-mail"></use>
      </svg>
      <p class="link-text">info@coremeadow.site</p>
    </a>
    <a class="contact-play" href="https://play.google.com/store/apps/details?id=com.jollyco.jollybattlematch3"
      target="_blank" rel="noopener noreferrer">
      <svg class="" width="22" height="24">
        <use href="./img/sprite.svg#icon-play"></use>
      </svg>

      <div class="contact-tag">
        <p class="first-link">GET IT ON</p>
        <p class="last-link">Google Play</p>
      </div>
    </a>
  </div>
  <svg class="comic" width="73" height="73">
    <use href="./img/sprite.svg#char-comic"></use>
  </svg>

</section>
