<section class="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <p class="sub-faq-title">Quick answers</p>

    <ul class="faq-list">
      <li data-item data-state="open" class="faq-item">
        <div class="faq-header">
          <h3 data-question class="faq-item-text">
            Is the game beginner-friendly?
          </h3>

          <a
            data-button
            class="faq-item-link"
            href="#"
            aria-label="Toggle answer"
          >
            <svg class="faq-svg" width="14" height="14" aria-hidden="true">
              <use data-svg href="./img/sprite.svg#icon-minus"></use>
            </svg>
          </a>
        </div>

        <p data-answer class="faq-answer">
          Yes, the mechanics are easy to learn.
        </p>
      </li>

      <li data-item data-state="closed" class="faq-item">
        <div class="faq-header">
          <h3 data-question class="faq-item-text">
            Are there boosters available?
          </h3>

          <a
            data-button
            class="faq-item-link"
            href="#"
            aria-label="Toggle answer"
          >
            <svg class="faq-svg" width="18" height="18" aria-hidden="true">
              <use data-svg href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </a>
        </div>

        <p data-answer class="faq-answer">
          Yes, multiple boosters help clear difficult levels.
        </p>
      </li>

      <li data-item data-state="closed" class="faq-item">
        <div class="faq-header">
          <h3 data-question class="faq-item-text">
            Does the game become harder over time?
          </h3>

          <a
            data-button
            class="faq-item-link"
            href="#"
            aria-label="Toggle answer"
          >
            <svg class="faq-svg" width="18" height="18" aria-hidden="true">
              <use data-svg href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </a>
        </div>

        <p data-answer class="faq-answer">
          Yes, new mechanics gradually increase challenge.
        </p>
      </li>

      <li data-item data-state="closed" class="faq-item">
        <div class="faq-header">
          <h3 data-question class="faq-item-text">
            What style should the landing page follow?
          </h3>

          <a
            data-button
            class="faq-item-link"
            href="#"
            aria-label="Toggle answer"
          >
            <svg class="faq-svg" width="18" height="18" aria-hidden="true">
              <use data-svg href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </a>
        </div>

        <p data-answer class="faq-answer">
          Bright, playful, energetic, and colorful.
        </p>
      </li>

      <li data-item data-state="closed" class="faq-item">
        <div class="faq-header">
          <h3 data-question class="faq-item-text">
            Are levels designed for quick sessions?
          </h3>

          <a
            data-button
            class="faq-item-link"
            href="#"
            aria-label="Toggle answer"
          >
            <svg class="faq-svg" width="18" height="18" aria-hidden="true">
              <use data-svg href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </a>
        </div>

        <p data-answer class="faq-answer">
          Yes, gameplay is optimized for casual mobile play.
        </p>
      </li>
    </ul>
  </div>
</section>
