<section id="features" class="features">
  <div class="container">
    <h2 class="features-title">Features</h2>
    <p class="features-sub-title">
      We designed everything around keeping you hooked.
    </p>

    <ul class="features-list">
      <li class="features-item">
        <div class="wrap-svg">
          <svg class="features-svg" width="36" height="36">
            <use href="./img/sprite.svg#icon-sparkles"></use>
          </svg>
        </div>
        <h3 class="features-tag">Vibrant Visual Effects</h3>
        <p class="features-sub-tag">
          Honestly, watching those tiles explode never gets old.
        </p>
      </li>

      <li class="features-item">
        <div class="wrap-svg">
          <svg class="features-svg" width="36" height="36">
            <use href="./img/sprite.svg#icon-clock-bolt"></use>
          </svg>
        </div>
        <h3 class="features-tag">Quick Mobile Sessions</h3>
        <p class="features-sub-tag">
          Perfect for when you've got 5 minutes to kill.
        </p>
      </li>

      <li class="features-item">
        <div class="wrap-svg">
          <svg class="features-svg" width="36" height="36">
            <use href="./img/sprite.svg#icon-trophy"></use>
          </svg>
        </div>
        <h3 class="features-tag">Progressive Puzzle Difficulty</h3>
        <p class="features-sub-tag">
          Gameplay remains approachable while introducing new challenges.
        </p>
      </li>

      <li class="features-item">
        <div class="wrap-svg">
          <svg class="features-svg" width="36" height="36">
            <use href="./img/sprite.svg#icon-touch"></use>
          </svg>
        </div>
        <h3 class="features-tag">Smooth Controls</h3>
        <p class="features-sub-tag">
          Controls that won't make you want to throw your phone.
        </p>
      </li>

      <li class="features-item">
        <div class="wrap-svg">
          <svg class="features-svg" width="36" height="36">
            <use href="./img/sprite.svg#icon-gift"></use>
          </svg>
        </div>
        <h3 class="features-tag">Reward-Based Progression</h3>
        <p class="features-sub-tag">
          You're always getting new stuff to play with.
        </p>
      </li>
    </ul>

    <svg class="features-character" width="110" height="110">
      <use href="./img/sprite.svg#char-loafer"></use>
    </svg>
  </div>
</section>
