<header class="header">
  <div class="container">
    <!-- Лого -->
    <a class="nav-logo" href="./index.html" aria-label="Site logo">
      <div class="box">
        <p>3</p>
      </div>
      <p class="header-logo_text">Jolly Match 3</p>
    </a>

    <!-- Навігація для ПК -->
    <nav class="desktop-nav">
      <ul class="desktop-nav-list">
        <li><a href="#about">About</a></li>
        <li><a href="#description">How to Play</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <!-- Google Play для ПК -->
    <a
      class="desktop-play btn-play"
      href="https://play.google.com/store/apps/details?id=com.jollyco.jollybattlematch3"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="playMarket" width="22" height="24">
        <use href="./img/sprite.svg#icon-play"></use>
      </svg>

      <div class="tag-name">
        <p class="first">GET IT ON</p>
        <p class="last">Google Play</p>
      </div>
    </a>

    <!-- Бургер для мобілки -->
    <a href="#" class="burder-link" data-menu-open>
      <svg class="burder-menu-svg" width="20" height="20">
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </a>

    <!-- Mobile Menu -->
    <div class="mobile-menu-backdrop" data-menu-backdrop data-visible="close">
      <div class="burger-menu">
        <section class="burger-header">
          <a class="nav-logo" href="./index.html" aria-label="Site logo">
            <div class="box">
              <p>3</p>
            </div>
            <p class="header-logo_text">Jolly Match 3</p>
          </a>

          <a
            href="#"
            class="burder-link"
            data-menu-close
            aria-label="Close menu"
          >
            <svg class="close-svg" width="20" height="16" aria-hidden="true">
              <use href="./img/sprite.svg#icon-close"></use>
            </svg>
          </a>
        </section>

        <nav class="nav">
          <ul class="list">
            <li class="item">
              <a class="item-link" href="#about" data-menu-link>
                <h3 class="name">About</h3>
                <h4 class="num">01</h4>
              </a>
            </li>

            <li class="item">
              <a class="item-link" href="#description" data-menu-link>
                <h3 class="name">How to Play</h3>
                <h4 class="num">02</h4>
              </a>
            </li>

            <li class="item">
              <a class="item-link" href="#features" data-menu-link>
                <h3 class="name">Features</h3>
                <h4 class="num">03</h4>
              </a>
            </li>

            <li class="item">
              <a class="item-link" href="#feedback" data-menu-link>
                <h3 class="name">Reviews</h3>
                <h4 class="num">04</h4>
              </a>
            </li>

            <li class="item">
              <a class="item-link" href="#faq" data-menu-link>
                <h3 class="name">FAQ</h3>
                <h4 class="num">05</h4>
              </a>
            </li>

            <li class="item">
              <a class="item-link" href="#contact" data-menu-link>
                <h3 class="name">Contact</h3>
                <h4 class="num">06</h4>
              </a>
            </li>
          </ul>
        </nav>

        <a
          class="btn-play"
          href="https://play.google.com/store/apps/details?id=com.jollyco.jollybattlematch3"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playMarket" width="22" height="24">
            <use href="./img/sprite.svg#icon-play"></use>
          </svg>

          <div class="tag-name">
            <p class="first">GET IT ON</p>
            <p class="last">Google Play</p>
          </div>
        </a>

        <ul class="review-list">
          <li class="review-item">
            <p><span class="star">★</span> 4.8</p>
          </li>

          <li class="separator"></li>

          <li class="review-item">
            <p><span class="oneHund">100K+</span> players</p>
          </li>

          <li class="separator"></li>

          <li class="review-item">
            <p>Offline play</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
