<section class="hero">
  <div class="container">
    <div class="text-hero">
      <div class="hero-img">
        <svg class="hero-svg" width="12" height="12">
          <use href="../img/sprite.svg#icon-star"></use>
        </svg>
        <p class="hero-text">MATCH-3 PUZZLE</p>
      </div>
      <h2 class="hero-title">Match <span class="fast">Fast.</span>
        Blast <span class="bigger">Bigger.</span></h2>
      <h3 class="sub-title">Colorful puzzles with nonstop combo action.</h3>
      <p class="sub-text">Bright colors, fast combos, and addictive puzzle action that keeps you coming back.</p>
    </div>
    <div class="img-hero">
      <div class="wrapper-logo">
        <div class="border">
          <ul class="hero-list">
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-star"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-star"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-star"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-star"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
            <li class="hero-item"><svg class="svg-icon-hero" width="32" height="32">
                <use href="../img/sprite.svg#icon-candy-heart"></use>
              </svg></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>